* {
  margin: 0;
  padding: 0;
}
body {
  display: grid;
  font-family: 'Open Sans', sans serif;
  grid-template-columns: repeat(2, 1fr);
  background-color: #CFD8DC;
}
.left-column {
  grid-column: 1 / span 1;
  background-color: #455A64;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 50%;
}
.right-column {
  grid-column: 2 / span 1;
}
.left-content {
  display: block;
  margin: auto;
  /*width: 100%;*/
  /*border: solid;*/
  text-align: center;
}
h1 {
  color: #FFFFFF;
  font-size: 4.5rem;
  font-weight: 800!;
}
.logo {
  height: 4rem;
  padding: 0 1.2rem;
}
input {
  box-sizing: border-box;
  display: block;
  font-size: 1.7rem;
  height: 3.6rem;
  margin-top: 3.44rem;
  width: 100%;
  padding: .7rem;
  font-weight: 350;
  font-family: 'Open Sans', sans serif;
}
::placeholder{
  color: #BBBDBF;
  }
.enter-button {
  background-color: #FFC107;
  border: none;
  color: #FFFFFF;
  font-size: 1.5rem;
  height: 3.18rem;
  margin-top: 4.65rem;
  width: 100%;
}
.title-input{
  margin-top: 4rem;
}
.url-input{
  margin-top: 4.3rem;
}

ul {
  list-style-type: none;  
}
li {
  background-color: #FFFFFF;
  border: 1.5px solid #607DAB;
  margin: 1.7rem;
  margin-bottom: 2.3rem;
  padding: .7rem;
  height: 11.1rem;
}
.read-button {
  float: left;
  background-color: transparent;
  border-width: 0 0 1px 0;
  color: #455A64;
  border-color: #F2F4F4;
  font-size: 1.2rem;
  height: 2rem;
  font-weight: 200;
  margin-left: .7rem;
  outline: none;
}
.delete-button {
  float: right;
  background-color: transparent;
  border-width: 0 0 1px 0;
  color: #455A64;
  border-color: #F2F4F4;
  font-size: 1.2rem;
  height: 2rem;
  font-weight: 200;
  margin-right: .7rem;
  outline: none;
}
.clearfix:after {
  content: ' ';
  display: table;
  clear: both;
}
h3 {
  margin: -.2rem .25rem;
  color: #455A64;
  font-weight: 600;
  font-size: 2.2rem;
}
hr{
  margin: .8rem .3rem;
  margin-bottom: 1.7rem;
  color: #CFD8DC;
  border-style: solid;
}
.second{
  margin-top: 1.5rem;
  margin-bottom: .4rem;
}
a {
  margin: .3rem;
  font-size: 1.65rem;
  color: #607D8B;
  text-decoration: #F2F4F4 underline;
}

.read {
 color: red;
}

.read-li {
 background-color: gray;
}